@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
    text-decoration: none;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #040D12;
    z-index: 10;
}

/*Header Superior*/

.header__superior {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo img {
    width: 150px;
}

.search input {
    width: 300px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

/*Barra Menú*/

.container_menu {
    width: 100%;
    height: 70px;
    background: #040D12;
    padding: 0px 20px;
}

.menu {
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

nav {
    height: 100%;
}

nav > ul {
    height: 100%;
    display: flex;
}

nav  ul  li {
    height: 100%;
    list-style: none;
    position: relative;
}

nav > ul > li:first-child > a {
    background-image: url(../Assets/Imagenes/home.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
}

nav > ul > li:first-child:hover > a {
    background-image: url(../Assets/Imagenes/home.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center center;
}

nav > ul > li > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 300ms ease;
}

nav > ul > li > a:hover {
    transform: scale(1.1);
    background: #93B1A6;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#selected {
    transform: scale(1.1);
    background-color: #93B1A6;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*SUBMENÚ*/

nav ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 15;    
    transition: all 300ms ease;
}

nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 60px;
}

nav ul li ul li a {
    display: block;
    color: black;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 300ms ease;
}

nav ul li ul li a:hover {
    background: #0074C7;
    color: white;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.titulo_principal {
    display: flex;
    position: relative;
    margin-top: 250px;
    justify-content: center;
    text-transform: uppercase;
}

/*CARDS CONFERENCIA OESTE*/

.container_cards {
    width: 200px;
    display: grid;
    grid-template-columns: auto auto auto;
    position: relative;
    top: 50px;
    left: 200px;
    column-gap: 40px;
    row-gap: 40px;
}

.card_haws {
    display: flex;
    width: 300px;
    height: 300px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    border-radius: 3%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.card_haws:hover {
    transition: all 300ms ease;
    transform: scale(1.05);
    background: #93B1A6;
}

.card_haws h3 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.card_haws img {
    display: flex;
    width: 200px;
    height: 200px;
}

.card_celtics {
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 3%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.card_celtics:hover {
    transition: all 300ms ease;
    transform: scale(1.05);
    background: #93B1A6;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.card_celtics h3 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.card_celtics img {
    display: flex;
    width: 200px;
    height: 200px;
}

.card_nets {
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 3%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.card_nets:hover {
    transition: all 300ms ease;
    transform: scale(1.05);
    background: #93B1A6;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.card_nets h3 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.card_nets img {
    display: flex;
    width: 200px;
    height: 200px;
}

.card_hornets {
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 3%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.card_hornets:hover {
    transition: all 300ms ease;
    transform: scale(1.05);
    background: #93B1A6;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.card_hornets h3 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.card_hornets img {
    display: flex;
    width: 200px;
    height: 200px;
}

.card_bulls {
    display: flex;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.card_bulls:hover {
    transition: all 300ms ease;
    transform: scale(1.05);
    background: #93B1A6;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.card_bulls h3 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.card_bulls img {
    display: flex;
    width: 200px;
    height: 200px;
}

.card_cleveland {
    display: flex;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.card_cleveland:hover {
    transition: all 300ms ease;
    transform: scale(1.05);
    background: #93B1A6;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.card_cleveland h3 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.card_cleveland img {
    display: flex;
    width: 200px;
    height: 200px;
}

.card_pistons {
    display: flex;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.card_pistons:hover {
    transition: all 300ms ease;
    transform: scale(1.05);
    background: #93B1A6;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.card_pistons h3 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.card_pistons img {
    display: flex;
    width: 200px;
    height: 150px;
}

.card_pacers {
    display: flex;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.card_pacers:hover {
    transition: all 300ms ease;
    transform: scale(1.05);
    background: #93B1A6;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.card_pacers h3 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.card_pacers img {
    display: flex;
    width: 200px;
    height: 200px;
}

.card_heat {
    display: flex;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.card_heat:hover {
    transition: all 300ms ease;
    transform: scale(1.05);
    background: #93B1A6;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.card_heat h3 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.card_heat img {
    display: flex;
    width: 200px;
    height: 200px;
}

.card_bucks {
    display: flex;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.card_bucks:hover {
    transition: all 300ms ease;
    transform: scale(1.05);
    background: #93B1A6;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.card_bucks h3 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.card_bucks img {
    display: flex;
    width: 200px;
    height: 200px;
}

.card_knicks {
    display: flex;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.card_knicks:hover {
    transition: all 300ms ease;
    transform: scale(1.05);
    background: #93B1A6;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.card_knicks h3 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.card_knicks img {
    display: flex;
    width: 200px;
    height: 200px;
}

.card_magic {
    display: flex;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.card_magic:hover {
    transition: all 300ms ease;
    transform: scale(1.05);
    background: #93B1A6;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.card_magic h3 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.card_magic img {
    display: flex;
    width: 200px;
    height: 200px;
}

.card_76ers {
    display: flex;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.card_76ers:hover {
    transition: all 300ms ease;
    transform: scale(1.05);
    background: #93B1A6;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.card_76ers h3 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.card_76ers img {
    display: flex;
    width: 200px;
    height: 200px;
}

.card_raptors {
    display: flex;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.card_raptors:hover {
    transition: all 300ms ease;
    transform: scale(1.05);
    background: #93B1A6;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.card_raptors h3 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.card_raptors img {
    display: flex;
    width: 200px;
    height: 200px;
}

.card_wizards {
    display: flex;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.card_wizards:hover {
    transition: all 300ms ease;
    transform: scale(1.05);
    background: #93B1A6;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.card_wizards h3 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.card_wizards img {
    display: flex;
    width: 200px;
    height: 200px;
}

/*Botón Volver*/

.btn-volver{
    position: relative;
    top: 100px;
    left: 620px;
    width: 140px;
    outline: none;
    border-radius: 5px;
}

.btn-volver a{
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
    justify-content: center;
}

.btn-volver:hover{
    transition: all 300ms ease;
    background-color: #93B1A6;
}

/*FOOTER*/

.footer {
    display: block;
    margin-top: 150px;
    background-color: #040D12;
}

.footer p {
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
    padding: 20px;
}

.footer div {
    display: flex;
    gap: 30px;
    position: relative;
    margin-top: 50px;
    justify-content: center;
    padding: 20px;
}

.footer div:hover {
    transition: all 300ms ease;
}